body {
    background-color: white;
}

.chef-profile {
    margin:0;
}
    
.chef-profile section {
    background-color: white;
    /* left:0; */
    /* position: relative; */
    color: rgb(170, 5, 5);
    width: 100vw;
    /* border: 10px solid black; */
    /* justify-self: center; */
    display: flex;
    flex-direction: column; 
    /* overflow: scroll;   */
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
    /* margin-top: 8vh; */
}   


.dark {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100vmin;
    background-color: black;
    animation: 0.5s darkkk;    
    opacity: 0.7;
}

.noDark {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vmin;
    background-color: black;
    animation: 1s noDarkkk;
    /* visibility: hidden; */
}

@keyframes darkkk{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }

}

@keyframes noDarkkk{
    0%{
        opacity: 0.7;
        z-index: 12;
    }
    100% {
        opacity: 0;
        z-index: 12;
    }

}

.aboutOpen,.aboutClose {
    position: absolute;    
    height:16vmin;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    transform: translate(0,3vmin);
}

.aboutClose{
    animation: 1s hideee;
    width:3vmin;
}

.aboutOpen {
    animation: 1s showww;
    width:33vmin;
}

@keyframes showww{
    0% {
        width:3vmin;
    }
    100% {
        width:32vmin;
    }
}

@keyframes hideee{
    0% {
        width:32vmin;
    }
    100% {
        width:3vmin;
    }
}

.aboutClose .about-info{
    animation: 1s hideInfo;
    opacity: 0;
}

@keyframes hideInfo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.about-info {
    width: 30vmin;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 4vmin;
    border-top-left-radius: 4vmin;    
    box-shadow: 0 0 2vmin black;
    padding: 0vmin 0vmin 0vmin 3.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.about-info .socialMedia {
    width: 100%;
    height: 49.5%;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}


.arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 3vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
    cursor: pointer;
}

@keyframes rotatetoleft {
    0%{
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
    100% {
        color: white;
        transform: rotate(0deg);
        
    }
}

@keyframes rotatetoright {
    0%{
        color: white;
        transform: rotate(0deg);
    }
    100% {
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
}

.left,.right{
    font-size: 3vmin;
    align-self: center;
}

.left {
    color: rgb(170, 5, 5);
    animation: 1s rotatetoleft;
    transform: rotate(0deg);
}

.right {
    color: rgb(170, 5, 5);
    animation: 1s rotatetoright;
    transform: rotate(180deg) translate(-3vmin,0);
}

.chef-profile-bottom {
    position: relative;
    background-color: white;
    /* opacity: 0.95; */
    padding: 20px 35px;
    /* position: sticky; */
    /* top:80px; */
    left: 0;
    width: calc(100vw - 70px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 15;
    height:120px;
    /* box-shadow: 10px 0 10px rgb(221, 221, 221); */
}

.chef-profile-picture {
    background-color: rgb(233, 233, 233);
    position: center;
    width:120px;
    height: 120px;
    border-radius:50%;
    z-index: 1;
    overflow: hidden;
}

.chef-profile-picture img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.chef-profile-bottom-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    z-index: 2;
    height: 100%;
}

.chef-profile-name {
    /* width: 310px; */
    color:black;
    font-size: 32px;
    display:flex;
    flex-direction: row;
}

.chef-profile .R-R {
    display:flex;
    flex-direction: row;
    transform: translateX(-8px);
}

.chef-profile .R-R strong {
    font-size: 15px;
    color: black;
    margin: 0 8px;
}

.chef-profile .myStar {
    color: black;
    font-size: 18px;
}

.myRating {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.myRating p{
    color: white;
    font-size: 12px;
    font-weight: 550;
    text-align: center;
    padding: 3px;
    width: 28px;
    background-color: rgb(170, 5, 5);
    margin-left: 8px;
    border-radius: 20px;
}

.RR {
    background-color: white;
    width: 100%;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    z-index: 11;
    align-items: flex-end;
    /* margin-top: 15px; */
    padding-bottom: 5px;
}

.RR .isClicked{
    background-color:  black;
    color: white;
    height:45px;
    width:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 30px;
}
.RR .isNotClicked{
    background-color: white;
    color: black;
    height: 45px;
    width:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 30px;
}
.RR .isNotClicked:hover{
    background: rgb(235, 235, 235);
}
/* 
@keyframes donateee {
    0%{
        width: 5vmin;
    }
    100%{
        width: 7vmin;
    }
} */

/* .chef-profile-infoPages {
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
} */

.chef-profile .pageHeader {
    width:400px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    height: 45px;
    color: black;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    }

    .chef-profile .All , .chef-profile .Low , .chef-profile .Medium , .chef-profile .High{
        font-size: 5px;
        position: absolute;
    }
    
    .chef-profile .All {
        transform: translateX(47.5px);
        animation: 0.2s moveDot;
        transition: 0.2s;
    }
    
    .chef-profile .Low {
        transform: translateX(147.5px);
        transition: 0.1s;
    }
    
    .chef-profile .Medium {
        transform: translateX(247.5px);
        transition: 0.1s;
    }

    .chef-profile .High {
        transform: translateX(347.5px);
        transition: 0.1s;
    }

    /* .pageHeader .isNotClicked .dot {
        visibility: hidden;
    } */

    .pageHeader .isNotClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:rgb(163, 163, 163);
        font-weight: bolder;
        width:100px;
        height: 25px;
        cursor: pointer;
        font-size: 12px;
    }

    .pageHeader .isNotClicked:hover{
        border-radius: 20px;
        height: 25px;
        background-color: rgb(235, 235, 235);
    }

    .pageHeader .isClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bolder;
        width:100px;
        height: 25px;
        font-size: 12px;
    }

.page_switch {
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    padding: 0 10px;
    min-height: calc(100vh - 335px);
    max-height: calc(100vh - 295px);
    margin: 0;
    align-self: center;
    overflow-x:scroll;
    align-items: center;
}

.page_switch::-webkit-scrollbar {
    right: 0;
    width: 10px;
  }

.page_switch::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
  }
   
.page_switch::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  
.page_switch::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 5, 5); 
  }

  .chef-profile .moreContact .contact{
    position: absolute;
    right: 60px;
    bottom: -74px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 10px;
}

.chef-profile .moreContact .contact div{
    font-size: 15px;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:2px 0;
    white-space: nowrap;
}

.contact-icon{
    font-size: 20px;
    margin-left: 10px;
}

.chef-profile .moreContact{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    position: relative;
    height: 35px;
    border-radius: 20px;
    margin-left: 300px;
    transform: translateY(10px);
    cursor: pointer;
    z-index: 2;
}

.chef-profile .moreContact:hover{    
    background-color: rgb(226, 226, 226);
}

.chef-profile .moreContact .b{
    padding:0px 15px ;
    font-size: 40px;
    color: black;
    transform: translateY(-22px);
}

@media screen and (max-width:900px){
    .chef-profile .moreContact{
        margin-left: 0px;
    }
    .chef-profile .moreContact .contact{
        left: 0px;
        top: 35px;
        justify-content: end;
        flex-wrap: wrap-reverse;
        border: 1px solid rgb(218, 218, 218);
    }
    .chef-profile .moreContact .contact-icon{
        margin-right: 10px;
        margin-left: 0;
    }
    .chef-profile .moreContact .contact .c{
        display: flex;
        flex-direction: row-reverse;
    }
    
.chef-profile-bottom {
    position: relative;
    background-color: white;
    padding: 20px 15px ;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 15;
    height:120px;
}

.chef-profile-name {
    font-size: 20px;
}
}
