.bigFoodInf{
    width:100vw;
    height: calc(650px + 26px);
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigFoodInf::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

.food-basicInfo {
    /* background-color: black;     */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;  */
    width: 1050px;
    height: 650px;
    overflow: hidden;    
    /* box-shadow:  8px 4px 16px rgba(0, 0, 0, 0.24); */
    box-shadow: 8px 4px 16px rgb(223, 223, 223);
    border-radius: 15px;
    /* align-self: center; */
}

.food-basicInfo .food-img {
  position: relative;
    background-color: rgb(235, 235, 235);
    width: 650px;
    height: 650px;
}

.food-basicInfo .food-img img{
  width:100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.food-basicInfo .food-img .infoja{
  position: absolute;
  height: fit-content;
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  /* background-color: rgb(255, 255, 255); */
  z-index: 2;
}

.food-basicInfo .food-img .infoja div{
  font-size: 13px;
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 2px 8px rgb(192, 192, 192);
  /* border: 1px solid black; */
  height: 30px;
  padding: 0 15px;
  border-radius: 15px;
}


.food-basicInfo .Info {
    background: white;
    color: black;
    width: 340px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;  
}

.food-name {
    font-size: 30px;
    color: black;
    overflow-x: scroll;
}
.food-name strong{
  white-space: nowrap;
}

.food-basicInfo .myStar {
  margin-top: 5px;
  font-size: 20px;
}

.food-basicInfo .foodDescription{
  font-size: 13px;
  height: 3em;
  overflow-y: scroll;
  word-wrap: break-word;
  /* cursor: wait; */
}

.food-name::-webkit-scrollbar,.food-basicInfo .foodDescription::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

.food-basicInfo .food-img .infoja .maDot {
  padding:0 ;
  width: 10px;
  height: 10px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 4px 2px 8px rgb(192, 192, 192);
  font-size: 10px;
  margin-right: 6px;
}

/* .food-basicInfo .steps , .food-basicInfo .time {
  font-size: 11px;
  width: 60px;
  text-align: center;
  padding: 4px 0;
  font-weight: bolder;
  margin:0;
  border: 1px solid grey;
} */

/* .food-basicInfo .time {
  background-color: grey;
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;       
} */

/* .food-basicInfo .steps {
  color:grey;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;   
} */

.food-basicInfo .chefPic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
}

.food-basicInfo .chefPic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.food-basicInfo .chefName {
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.food-basicInfo .numOfRecipes {
    font-size: 13px;
}

.food-basicInfo .more {
  position: absolute;
  background-color:rgb(233, 233, 233);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  right: 0;
  padding:0 20px;
  font-size:12px;
  border-radius:20px;
  cursor: pointer;
}

.food-basicInfo .more:hover{
  background-color: rgb(214, 214, 214);
}

.food-basicInfo .allReviews{
    width: 371px;
    transform: translateX(-30px);
    padding-left: 30px;
    height: 300px;
    overflow: auto;
    margin-top: 10px;
    transition: 0.5s;
    /* border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204); */
}

.food-basicInfo .allReviews:hover{
  background-color: rgb(245, 245, 245);
}

.allReviews::-webkit-scrollbar {
    right: 0;
    width: 6px;
  }

  .allReviews::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
  }
   
  .allReviews::-webkit-scrollbar-thumb {
    background: rgb(170, 5, 5);
    border-radius: 10px;
  }
  
  .allReviews::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

.food-basicInfo .myPic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-color: rgb(233, 233, 233);
}


.TheRate .myStar {
  margin: 0;
  transition: 0.5s;
}

.TheRate:hover .myStar{
  color: rgb(170, 5, 5);
}

.myRate div {
  margin-left: 5px;
}

.food-basicInfo .ratehere {
  display:flex;
  flex-direction:row;
  font-size:13px;
  font-weight:600;
  z-index: 1;
  transform: translate(3px,0.5px);
  border-radius: 15px;
  padding: 7px 0 7px 12px;
  width: 260px;
  background-color: white;
}

.food-basicInfo .TheRate {
  position: absolute;
  transform: translateX(70px);
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  z-index: 1;
}

.food-basicInfo .rrrrr{
  width: 20px;
  height: 20px;
  z-index: 2;
}

 .food-basicInfo .myComment {
   position: absolute;
    width: 250px;
    z-index: 0;
    padding: 30px 35px 10px 15px;
    border-radius: 15px;
    word-wrap: break-word;
    outline: none;
    height: 25px;
    resize: none;
    font-size: 15px;
    border:1px solid rgb(204,204,204);
}

.myComment ::-webkit-scrollbar-thumb{
    visibility: hidden;
}

.myComment::-webkit-scrollbar {
    position: absolute;
    width: 5px;
  }

  .myComment::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
  }
   
  .myComment::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    visibility: hidden;
  }
  
  .myComment::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 5, 5); 
  }

  .food-basicInfo .button,.food-basicInfo .butto{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(250px,-1px);
    font-size: 15px;
    color: rgb(170, 5, 5);
    padding-left: 5px;
    width: 24px;
    height: 53px;
    cursor: pointer;
    /* background-color: blue; */
    border-left: 1px solid rgb(204, 204, 204);
  }

  .food-basicInfo .butto:hover::after{
    content: "Please rate this recipe first";
    /* font-size: 12px; */
    font-weight: 400;
    position: absolute;
    padding: 3px 8px 5px 8px;
    width: 190px;
    text-align: center;
    transform: translate(-84px,-55px);
    color: rgb(170, 5, 5);
    background-color: #FBE7E2;
    border-radius: 15px;
    z-index: 1;
    animation: 1s warn;
    overflow: hidden;
  }

  .food-basicInfo .butto:hover::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(-3px,-45px) rotate(45deg);
    background-color: #FBE7E2;
    animation: 1s warn;
  }

  @keyframes warn{
    0%{
      opacity: 0;
    }
    20%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }

  @media screen and (max-width:1050px){
    .bigFoodInf{
      align-items: flex-start;
    }
    .food-basicInfo{
      margin:0 50px ;
    }
  }