.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  border-top-width: 0;
  border: 0px;
  list-style: none;
  margin-top: 0;
  margin-left: 20px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(190px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: rgb(170, 5, 5);
  color: white;
  cursor: pointer;
  font-weight: 700;
}
