.hypersearch {
  margin: 10px;
  margin-left: 20%;
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
}

.hypersearch li {
  display: flex;
}
.hypersearch select {
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.hypersearch input {
  margin: 10px;
  border-radius: 5px;
  width: 80%;
  font-size: 20px;
}
.hypersearch p {
  font-size: 20px;
}

.hypersearch button {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  margin-left: 40%;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(170, 5, 5);
}
.hypersearch button:hover {
  background-color: rgb(170, 5, 5);
  color: white;
  cursor: pointer;
}
.hypersearch .Time {
  width: 50px;
}
@media screen and (max-width: 903px) {
  .hypersearch p {
    font-size: 15px;
  }
}
@media screen and (max-width: 740px) {
  .hypersearch p {
    font-size: 13px;
  }
}
