.inputrecipe {
  margin: 10px;
  margin-left: 20%;

  background-color: white;
  width: 60%;
  padding: 5px;
  border-radius: 10px;
}
.inputrecipe textarea {
  height: 200%;
  width: 90%;
}

.inputrecipe #but1 {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  margin-left: 79%;
}
.inputrecipe .input1 {
  margin: 10px;
  border-radius: 5px;
  width: 35%;

  font-size: 20px;
}
.inputrecipe li {
  display: flex;
}
.inputrecipe select {
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.inputrecipe figure img {
  width: 100px;
}
.inputrecipe input {
  margin: 10px;
  border-radius: 5px;
  width: 35%;
  font-size: 20px;
}
.inputrecipe p {
  font-size: 20px;
}
.inputrecipe textarea {
  font-size: 20px;
}

.inputrecipe button {
  color: white;
  background-color: #4caf50;
  height: 40px;
  border-radius: 5px;
  width: 100px;
  margin-left: 40%;
}
.inputrecipe button:hover {
  cursor: pointer;
}
.inputrecipe .recipesPic {
  display: flexbox;
  flex-direction: column;
}
.inputrecipe h1 {
  color: rgb(170, 5, 5);
  font-size: 30px;
  margin-left: 30px;
}
