.chef-profile {
    margin:0;
    border: 2px solid black;
}

.chef-profile header {
    position: sticky;
    z-index: 6;
}


    
section {
    color: rgb(170, 5, 5);
    width: 68vmin;
    margin: 10px 16vmin;         
    display: flex;
    flex-direction: column; 
    border-radius: 15px;
    /* overflow: hidden;  */    
}   

.chef-profile-detail1 {
    background-color: rgb(170, 5, 5);
    position: relative;
    height: 31vmin;
    display: flex;
    flex-direction: column; 
    border-radius: 15px; 
    overflow: hidden;
}

.coverPic {
    height: 20vmin;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}



.chef-cover-pic {
    width: 100%;
    height: 20vmin;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

.chef-cover-pic2 {
    background-color: black;
    width: 68vmin;
    height: 20vmin;
    opacity: 0.7;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    z-index: 0;
}

.chef-profile-picture {
    position: relative;
    background-position: center;
    background-size:cover ;
    /* background-color: violet; */
    width:15vmin;
    height: 15vmin;
    border-radius:50%;
    border: 0.2vmin solid white;
    box-shadow: 0px 3px 40px rgb(68, 2, 2);
    transform: translate(5vmin,-7.5vmin);
    z-index: 1;
}


.chef-profile-bottom-top {
    padding-left: 2vmin;
    padding-top: 1vmin;
    /* background-color: royalblue; */
    color: white;
    transform: translate(6vmin,0vmin);
    z-index: 2;
}

.chef-profile-bottom {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(20vmin);
    /* background-color: blue; */
    box-shadow: 0px -1vmin 10vmin black;
    height: 14vmin;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.chef-profile-name {
    /* background-color: blanchedalmond; */
    padding-top: 1vmin;
    width: 25vmin;
    font-size: 3vmin;
    display:flex;
    flex-direction: row;
    transform: translateY(-6.1vmin);
}

.chef-profile-message {
    /* background-color: saddlebrown; */
    padding-top: 1vmin;
    font-size: 1.7vmin;
    width:30vmin;
    height:6vmin;
    overflow: unset;
    word-break: break-all;
    display:flex;
    flex-direction: row;
    transform: translateY(-5.9vmin);
}


.chef-profile-bottom-top div {
    display: flex;
    flex-direction: row;
}

.RR {
    /* background:; */
    position: absolute;    
    height: 3vmin;
    width: 12vmin;
    border-radius:1.5vmin ;
    transform: translate(25vmin,-4vmin);
    /* transform: translate(-52vmin,8vmin); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    z-index: 4;
}

.R1 {
    background-color: rgb(170, 5, 5);
    color: white;
    height: 5vmin;
    width:5vmin;
    font-weight: bolder ;
    justify-content: center;
    border-radius: 50%;
    /* border-top-left-radius: 1.5vmin; */
    /* border-bottom-left-radius: 1.5vmin; */
    border: 0.2vmin solid white;
    box-shadow: 0px 3px 40px rgb(68, 2, 2);
    align-items: center;
}

.R2 {
    filter: hue-rotate();
    /* background-image: url(/pic/star.png); */    
    background-size: cover;
    background-color: rgb(100, 100, 100);
    color: white;
    height: 5vmin;
    width:5vmin;
    border-radius: 50%;
    justify-content: center;
    font-weight: bolder ;
    /* border-top-right-radius: 1.5vmin; */
    /* border-bottom-right-radius: 1.5vmin; */
    border: 0.2vmin solid white;
    box-shadow: 0px 3px 40px rgb(68, 2, 2);
    align-items: center;
}

.chef-profile-name::after {
    /* position: absolute; */
    font-family: "Font Awesome 5.10.2 Free";
    content: "\f005";
    font-weight: 900;
    color: white;

    
}

.donate {
    background-color: rgb(100, 100, 100);
    width:10vmin;
    height: 2.5vmin;
    transform: translate(6.35vmin,-20.25vmin);
    border-top-left-radius: 1.5vmin ;
    border-bottom-left-radius: 1.5vmin;
    border-top: 0.25vmin solid white;
    border-left: 0.25vmin solid white;
    border-bottom: 0.25vmin solid white;
    font-weight: bolder;
    justify-content: center;
    color: white;
    font-size: 1.5vmin;
    padding-top: 0.5vmin;
    transition:0.5s ;
}


.R1:hover,.R2:hover{
    background-color: greenyellow;
    color: black;
}
.donate:hover{
    animation: 0.5s donateee;
    background-color: greenyellow;
    color: black;
    /* transition: 0.5s; */
    transform: translate(1.35vmin,-20.25vmin);
    width: 15vmin;
}

@keyframes donateee {
    0%{
        transform: translate(6.35vmin,-20.25vmin);
        width: 10vmin;
    }
    100%{
        transform: translate(1.35vmin,-20.25vmin);
        width: 15vmin;
    }
}

.chef-profile-infoPages {
    /* background-color: rgb(167, 167, 167); */
    border-radius: 15px;
    height: 60vmax;
}

    .pageHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pageHeader strong {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2vmin;
        transform: translateY(+50%);
        
    }


    .pageHeader .isNotClicked {
        background-color: white;
        color: rgb(170, 5, 5);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width:20vmin;
        height: 5vmin;
        
    }

    .pageHeader .isClicked {
        background-color: rgb(170, 5, 5);
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width:20vmin;
        height: 5vmin;
        
    }


    .pageHeader .isNotClicked:hover {
        background: rgb(100, 100, 100);
        color: white;
    }

.page_switch {
    background-color: rgb(170, 5, 5);
    padding:3vmin;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.pageHeader .isClicked::Before{
    border-left: 4px solid white;
}