body {
    background-color: white;
    overflow: hidden;
}
.chef-profile {
    margin:0;
}

header {
    background-color: rgb(223, 223, 223);
    /* border: 0.1vmin solid grey; */
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-1vmin,0);
    height:8vh;
    width: 150vw;
    z-index: 6;
}
    
.chef-profile section {
    background-color: white;
    position: relative;
    color: rgb(170, 5, 5);
    width: 100vw;
    display: flex;
    flex-direction: column; 
    overflow: hidden;  
    height: 92vh;
    margin-top: 8vh;
}   

.chef-profile-detail1 {
    position: relative;
    height: 95vmin;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    z-index: 2;
}

.dark {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100vmin;
    background-color: black;
    animation: 0.5s darkkk;    
    opacity: 0.7;
}

.noDark {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vmin;
    background-color: black;
    animation: 1s noDarkkk;
    /* visibility: hidden; */
}

@keyframes darkkk{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }

}

@keyframes noDarkkk{
    0%{
        opacity: 0.7;
        z-index: 12;
    }
    100% {
        opacity: 0;
        z-index: 12;
    }

}

.aboutOpen,.aboutClose {
    position: absolute;    
    height:16vmin;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    transform: translate(0,3vmin);
}

.aboutClose{
    animation: 1s hideee;
    width:3vmin;
}

.aboutOpen {
    animation: 1s showww;
    width:33vmin;
}

@keyframes showww{
    0% {
        width:3vmin;
    }
    100% {
        width:32vmin;
    }
}

@keyframes hideee{
    0% {
        width:32vmin;
    }
    100% {
        width:3vmin;
    }
}

.aboutClose .about-info{
    animation: 1s hideInfo;
    opacity: 0;
}

@keyframes hideInfo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.about-info {
    width: 30vmin;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 4vmin;
    border-top-left-radius: 4vmin;    
    box-shadow: 0 0 2vmin black;
    padding: 0vmin 0vmin 0vmin 3.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.about-info .socialMedia {
    width: 100%;
    height: 49.5%;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

.contact-icon{
    background-color: rgb(170, 5, 5);
    width: 33%;
    height: 100%;
    color: white;
    font-size: 4vmin;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 3vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
    cursor: pointer;
}

@keyframes rotatetoleft {
    0%{
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
    100% {
        color: white;
        transform: rotate(0deg);
        
    }
}

@keyframes rotatetoright {
    0%{
        color: white;
        transform: rotate(0deg);
    }
    100% {
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
}

.left,.right{
    font-size: 3vmin;
    align-self: center;
}

.left {
    color: rgb(170, 5, 5);
    animation: 1s rotatetoleft;
    transform: rotate(0deg);
}

.right {
    color: rgb(170, 5, 5);
    animation: 1s rotatetoright;
    transform: rotate(180deg) translate(-3vmin,0);
}

.chef-profile-bottom {
    padding: 3vh 5vmin;
    position: absolute;
    align-self: center;
    width: 85vw;
    transform: translateY(0vmin);
    display: flex;
    flex-direction: row;
    z-index: 5;
    height:15.5vh;
}

.chef-profile-picture {
    background-position: center;
    background-size:cover ;
    width:15.5vh;
    height: 15v5h;
    border-radius:50%;
    z-index: 1;
}

.chef-profile-bottom-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vmin;
    z-index: 2;
    height: 15.5vh;
}

.chef-profile-name {
    color:black;
    width:40vw;
    font-size: 4.5vmin;
    display:flex;
    flex-direction: row;
}

.chef-profile .R-R {
    display:flex;
    flex-direction: row;
    transform: translateX(-1vmin);
}

.chef-profile .R-R strong {
    font-size: 1.8vmin;
    color: black;
    margin: 0 1vmin;
}

.chef-profile .myStar {
    color: black;
}

.myRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-0.15vmin);
    
}

.myRating p{
    color: white;
    font-size: 1.5vmin;
    font-weight: 550;
    text-align: center;
    padding-top: 0.2vmin;
    height: 2.3vmin;
    width: 5vmin;
    background-color: grey;
    transform: translate(1vmin,0vmin);
    border-radius: 2vmin;
}

.RR {
    background-color: white;
    position: absolute;
    align-self: center;
    transform: translateY(18.5vh);
    display: flex;
    flex-direction: row;
    z-index: 11;
    align-items: flex-end;
}
 p + p{
    margin-left: 0.5vmin;
}

.RR .isClicked{
    background-color:  black;
    color: white;
    height:6vh;
    width:6.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bolder;
    border-radius: 4vmin;
}
.RR .isNotClicked{
    color: black;
    height: 6vh;
    width:6.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4vmin;
}
.RR .isNotClicked:hover{
    background: rgb(235, 235, 235);
}
/* 
@keyframes donateee {
    0%{
        width: 5vmin;
    }
    100%{
        width: 7vmin;
    }
} */

.chef-profile-infoPages {
    position: absolute;
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateY(30.5vh);
    height: 61.5vh;
}

.chef-profile .pageHeader {
        position: absolute;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 2;
        height: 5vh;
        color: black;
        align-items: center;
        transform: translateY(24.5vh);
    }

    .chef-profile .All , .chef-profile .Low , .chef-profile .Medium , .chef-profile .High{
        font-size: 0.6vmin;
        position: absolute;
        z-index: 10;
    }
    
    .chef-profile .All {
        transform: translateX(25.25vw);
        animation: 0.2s moveDot;
        transition: 0.2s;
    }
    
    .chef-profile .Low {
        transform: translateX(31.62vw);
        transition: 0.1s;
    }
    
    .chef-profile .Medium {
        transform: translateX(38vw);
        transition: 0.1s;
    }

    .chef-profile .High {
        transform: translateX(44.4vw);
        transition: 0.1s;
    }

    .pageHeader .isNotClicked .dot {
        visibility: hidden;
    }

    .pageHeader .isNotClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:rgb(163, 163, 163);
        font-weight: bolder;
        width:6.4vw;
        height: 3vh;
        cursor: pointer;
        font-size: 1.5vmin;
    }

    .pageHeader .isNotClicked:hover{
        border-radius: 2vmin;
        height: 3vh;
        background-color: rgb(235, 235, 235);
    }

    .pageHeader .isClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bolder;
        width:6.4vw;
        height: 3vh;
        font-size: 1.5vmin;
    }

.page_switch {
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_switch::-webkit-scrollbar {
    /* position: absolute; */
    width: 1vmin;
  }

  /* Track */
.page_switch::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
.page_switch::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  
  /* Handle on hover */
.page_switch::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
