body {
    /* background-color: rgb(243, 139, 139); */
}
.chef-profile {
    margin:0;
}

.chef-profile header {
    position: sticky;
    z-index: 6;
}
    
.chef-profile section {
    position: relative;
    color: rgb(170, 5, 5);
    width: 68vmin;
    margin: -1vmin 16vmin 0 16vmin;         
    display: flex;
    flex-direction: column; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;  
    height: 95vmin;
}   

.chef-profile-detail1 {
    position: relative;
    height: 30vmin;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    z-index: 2;
}

.coverPic {
    height: 30vmin;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.chef-cover-pic {
    width: 100%;
    height: 30vmin;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
}

.chef-cover-pic2 {
    background-color: black;
    width: 68vmin;
    height: 30vmin;
    opacity: 0.7;
    position: absolute;
    z-index: 0;
}
.chef-profile-picture {
    position: relative;
    background-position: center;
    background-size:cover ;
    width:15vmin;
    height: 15vmin;
    border-radius:50%;
    transform: translate(5vmin,-7.5vmin);
    z-index: 1;
    border: 0.2vmin solid white;
}

.dark {
    position: absolute;
    z-index: 11;
    width: 68vmin;
    height: 100vmin;
    background-color: black;
    animation: 0.5s darkkk;
    
    opacity: 0.7;
}

.noDark {
    position: absolute;
    /* z-index: 0; */
    width: 68vmin;
    height: 100vmin;
    background-color: black;
    animation: 1s noDarkkk;
    visibility: hidden;
}

@keyframes darkkk{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }

}

@keyframes noDarkkk{
    0%{
        opacity: 0.7;
        z-index: 11;
    }
    100% {
        opacity: 0;
        z-index: 11;
    }

}

.aboutOpen,.aboutClose {
    position: absolute;    
    height:12vmin;
    /* background-color: violet; */
    z-index: 12;
    /* margin: 6vmin 0 0 22vmin; */
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    transform: translate(0,3vmin);
}

.aboutClose{
    animation: 1s hideee;
    width:3vmin;
}

.aboutOpen {
    animation: 1s showww;
    width:32vmin;
}

@keyframes showww{
    0% {
        width:3vmin;
    }
    100% {
        width:32vmin;
    }
}

@keyframes hideee{
    0% {
        width:32vmin;
    }
    100% {
        width:3vmin;
    }
}

.aboutClose .about-info{
    animation: 1s hideInfo;
    opacity: 0;
}

@keyframes hideInfo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.about-info {
    width: 29vmin;
    background-color: white;
    border-bottom-left-radius: 4vmin;
    border-top-left-radius: 4vmin;    
    box-shadow: 0 0 2vmin black;
    padding: 2vmin 1vmin 2vmin 3.5vmin;
}
.about-info div {
    /* margin: 2vmin 0 0 3vmin; */
    font-size: 2vmin;
    color: black;
}

.about-info .socialMedia {
    display: flex;
    flex-direction: row;
}
.arrow {
    /* background-color: white; */
    height: 100%;
    /* transform: translateY(7vmin); */
    display: flex;
    justify-content: center;
    width: 3vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

@keyframes rotatetoleft {
    0%{
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
    100% {
        color: white;
        transform: rotate(0deg);
        
    }
}

@keyframes rotatetoright {
    0%{
        color: white;
        transform: rotate(0deg);
    }
    100% {
        color: rgb(170, 5, 5);
        transform: rotate(180deg) translate(-3vmin,0);
    }
}

.left,.right{
    font-size: 3vmin;
    align-self: center;
}

.left {
    color: white;
    animation: 1s rotatetoleft;
    transform: rotate(0deg);
}

.right {
    color: rgb(170, 5, 5);
    animation: 1s rotatetoright;
    transform: rotate(180deg) translate(-3vmin,0);
}

.chef-profile-bottom {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(16vmin);
    height: 14vmin;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.chef-profile-bottom-top {
    padding-left: 2vmin;
    padding-top: 1vmin;
    color: white;
    transform: translate(6vmin,-8vmin);
    z-index: 2;
}

.chef-profile-name {
    padding-top: 1vmin;
    width:40vmin;
    font-size: 3vmin;
    display:flex;
    flex-direction: row;
}

.chef-profile-message {
    color: white;
    padding-top: 1vmin;
    font-size: 1.5 vmin;
    width:30vmin;
    height:4vmin;
    overflow: unset;
    word-break: break-all;
    display:flex;
    flex-direction: row;
}


.chef-profile-bottom-top {
    display: flex;
    flex-direction: column;
}

.myRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-0.15vmin);
    
}

.myRating p{
    color: white;
    font-size: 1.5vmin;
    font-weight: 550;
    text-align: center;
    padding-top: 0.2vmin;
    height: 2.3vmin;
    width: 5vmin;
    background-color: rgb(170, 5, 5);
    transform: translate(1vmin,0vmin);
    border-radius: 2vmin;
}

.donate {
    background-color: grey;
    width:5vmin;
    height: 3vmin;
    border-top-left-radius: 2.5vmin ;
    border-bottom-left-radius: 2.5vmin;
    font-weight: bolder;
    justify-content: center;
    color: white;
    font-size: 1.3vmin;
    transition:0.5s ;
    justify-content: space-around;
}

.RR {
    width: 26vmin;
    transform: translate(0vmin,0vmin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    align-items: flex-end;
}
 p + p{
    margin-left: 0.5vmin;
}

.RR .isClicked{
    background-color:  rgb(170, 5, 5);
    color: white;
    height:3.5vmin;
    width:12vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.1vmin solid rgb(170, 5, 5);
    align-items: center;
    font-size: 1.5vmin;
    box-shadow: 0px 0px 2vmin black;
    
}
.RR .isNotClicked{
    color: white;
    height: 3.5vmin;
    width:12vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.1vmin solid white;
    align-items: center;
    font-size: 1.5vmin;
    box-shadow: 0px 0px 1vmin black;
    cursor: pointer;
}
.RR .isNotClicked:hover{
    background: grey;
}
.cal {
    width: 8vmin;
    color: white;
    text-align: center;
}

.donate:hover{
    animation: 0.5s donateee;
    background-color: greenyellow;
    color: black;
    width: 7vmin;
}

@keyframes donateee {
    0%{
        width: 5vmin;
    }
    100%{
        width: 7vmin;
    }
}

.chef-profile-infoPages {
    z-index: 10;
    display: flex;
    flex-direction: column;
    
}
    .pageHeader {
        background-color:rgb(227, 228, 236);
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 2;
        height: 5vmin;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
        box-shadow: 0px 0px 2vmin black;
        transform: translateY(-3vmin);
    }

    .dot{
        font-size: 0.6vmin;
        position: absolute;
        transform: translateY(1.3vmin);
    }

    .pageHeader .isNotClicked .dot {
        visibility: hidden;
    }

    .pageHeader .isNotClicked strong,.pageHeader .isClicked strong{
        font-size: 1.5vmin;
        text-align: center;
    }

    .pageHeader .isNotClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(150, 150, 150);
        width:13vmin;
        height: 3vmin;
        cursor: pointer;
        border: 0.1vmin solid rgb(227, 228, 236);      
    }

    .pageHeader .isNotClicked:hover{
        border-radius: 2vmin;
        height: 3vmin;
        border: 0.1vmin solid grey;
    }

    .pageHeader .isClicked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(170, 5, 5);
        width:13vmin;
        height: 3vmin;
        border: 0.1vmin solid rgb(227, 228, 236);
    }

.page_switch {
    background-color: white;
    height: 57vmin;
    margin-top: 2vmin;
    padding:0vmin 2vmin 3vmin 3vmin;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_switch::-webkit-scrollbar {
    position: absolute;
    width: 1vmin;
  }

  /* Track */
.page_switch::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
.page_switch::-webkit-scrollbar-thumb {
    background: rgb(170, 5, 5); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.page_switch::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.bottom {
    background-color:rgb(229, 230, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
    height: 3vmin;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    box-shadow: 0px 0px 1vmin black;
}