.food-basicInfo {
    background-color: white;    
    padding:0;
    border-radius : 15px;     
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.food-img {
    /* background-image: url({}); */
    /* background-image: url(/pic/food1.jpg); */
    background-size:initial ;
    background-repeat: no-repeat;
    background-position: center;
    /* height:35vmin; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
         
}

.Info {
    background: white;
    color: rgb(170, 5, 5);
    height: calc(9.5vmin - 4.85vmin);
    border-bottom-right-radius : 15px;     
    border-bottom-left-radius: 15px; 
    display: flex;
    flex-direction: column;  
}

.food-name {
    background: white;
    opacity: 0.7;
    padding:0.8vmin 3vmin;
    height: 3.25vmin;
    font-size: 2.5vmin;
    color: black;
    transform: translateY(-4.85vmin);
}

.cost {
    padding: 1.5vmin 3vmin 0.25vmin 3vmin;
    font-size: 2.5vmin;
    color: (170,5,5);
    margin: 0;
    transform: translateY(-4.85vmin);
}

.ratingStars {
    width:62vmin;
    height:2.75vmin;
    margin-left: 3vmin;
    display: flex;
    flex-direction: row;
    transform: translateY(-4.85vmin);
}

.star0 {
    background-image: url(/pic/star0.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star0-5 {
    background-image: url(/pic/star0-5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}
.star1 {
    background-image: url(/pic/star1.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}
.star1-5 {
    background-image: url(/pic/star1-5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}
.star2 {
    background-image: url(/pic/star2.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star2-5 {
    background-image: url(/pic/star2-5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star3 {
    background-image: url(/pic/star3.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star3-5 {
    background-image: url(/pic/star3-5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star4 {
    background-image: url(/pic/star4.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star4-5 {
    background-image: url(/pic/star4-5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.star5 {
    background-image: url(/pic/star5.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width:18vmin;
    height:3vmin;
    
}

.heart-red {
    background-image: url(/pic/heart-red.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width: 3vmin;
    height:2.9vmin;
    transform: translateX(35vmin);
}

.heart-white {
    background-image: url(/pic/heart-white.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width: 3vmin;
    height:2.9vmin;
    transform: translateX(35vmin);
}

.rating {
    padding-left: 0.5vmin;
    font-size: 1.5vmin;
    color: (170,5,5);
    width:5.6vmin;
    transform: translate(-2.5vmin,46%);
}