.review-box {
    padding: 3vmin 0;
    display: flex;
    flex-direction: column;
    width: 60vmin;
}
.review-info {
    color: black;
    display: flex;
    flex-direction: row;
    scroll-padding-right: initial;
    border-bottom: 0.1vmin solid rgb(170,5,5);
}

.review-info +.review-info{
    margin-top: 2vmin;
}

.review-info .pic{
    background-size: cover;
    background-position: center;
    width: 8vmin;
    height: 8vmin;
    border-radius: 50%;
    transform: translate(1vmin,1vmin);
}

.review-info .info {
    margin-left: 2vmin ;
    width: 42vmin;
    display: flex;
    flex-direction: column;
    padding: 1vmin 0;  
}

.fName {
    font-weight: bolder;
    font-size: 2vmin;
}

.review-info .info div {
    padding:1vmin;
}


.review-info .myStar {
    color: rgb(170,5,5);
    padding: 0;
    margin: 0;
}

.review-info .myRating div {
    padding: 0;
    margin: 0;
}

.review-info .myRating{
    height: 0;
}

.review-info .num {
    margin-left: 1vmin;
    transform: translateY(-0.15vmin);
    width: 3vmin;
    height: 2vmin;
    background: none;
    color: rgb(170,5,5);
    border: 0.1vmin solid rgb(170,5,5);
}

.review-info .reviewBy {
    font-weight: 600;
}






.recipe-box {
    padding-top: 1vmin;
    width: 58.2vmin;
    color: black;
    display:flex;
    flex-wrap: wrap;
    /* justify-content: left; */
}

.recipe-box .pic{
    margin: 1.2vmin;
    width: 17vmin;
    height: 17vmin;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    justify-content: center;
    /* transition: 0.2s; */
    /* border-radius: 15px;; */
    /* border: 0.5vmin solid white; */
    /* overflow: hidden; */
    
}

.pic:hover >.picFront {
    transform: perspective(0px) rotateY(-180deg);
    cursor: pointer;
}

.pic:hover >.picBack {
    transform: perspective(600px) rotateY(0deg);
    cursor: pointer;
}
.picFront,.picBack{
    width: 17vmin;
    height: 17vmin;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .3s linear;
    position: absolute;
    box-shadow: 1vmin 1vmin 1vmin rgb(105, 105, 105);
    cursor: pointer;
}
.picFront{
    background-size: cover;
    background-position: center;
    transform: perspective(600px) rotateY(0deg);
}

.picBack{
    background-color: rgb(170,5,5);
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    font-size: 2vmin;
    align-items: center;
    justify-content: center ;
}

.picBack .name {
    font-size: 1.5vmin;
    text-align: justify;
    color: white;
    overflow-wrap: break-word;
    font-weight: bolder;
    text-align: center;
    padding-top:1.5vmin ;
    margin-bottom: 0.2vmin;
    width: 90%;
    max-height: 4vmin;

}

.recipe-box .info {
    width: 13vmin;
    color: rgb(170,5,5);
    padding-top: 1.1vmin;
    margin-top: 1.1vmin;
    border-top: 0.1vmin solid white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons{
    width: 2vmin;
    height: 10vmin;
}
.myIcons + .myIcons {
    margin-top: 1vmin;
}
.myIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2vmin;
    height: 2vmin;
    border-radius: 1vmin;
    background-color: white;
}

.afterIconsA {
    height: 10vmin;
    display: flex;
    flex-direction: column;
    margin: 0 1vmin;
}
.afterIconsA div{    
    height: 2vmin;
    color: white;
    font-size: 1.3vmin;
    font-weight: bolder;
    margin: 0.5vmin 0 0.5vmin 0;
    text-align: left;
}


/* @keyframes Hide {
    100% {
        opacity: 0;
      }
      0% {
        visibility: visible;
        opacity: 1;
      }
} */

