.bigStep{
    width:100vw;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(224, 224, 224); */
    /* box-shadow: 0 0 8px grey; */
}

.step .middle {
  position: absolute;
  width: calc(100% - 35px);
  height: 170px;
  margin-left: -100px;
  /* border-left:10px solid rgb(170,5,5) ;
  border-right:10px solid rgb(170,5,5) ;
  background-color: rgb(224, 224, 224); */
}

.bigStep::-webkit-scrollbar ,.stepDescription::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }

  .bigStep .step {
    position: relative;
    height: 600px;
    width: fit-content;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

  .bigStep .steps {
      position: relative;
      width: 320px;
      height: 500px;
      margin: 0 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: white;
      /* border: 1px solid grey; */
      border-radius: 15px;
      /* box-shadow: 0 0 8px grey; */
  }

  .bigStep .stepPic {
      z-index: 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 310px;
      height: 310px;
      border:5px solid white;
      background-color: white;
      border-radius: 15px;
      /* box-shadow: 0 0 8px grey; */
  }

  .bigStep .stepPic img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }

  .bigStep .backkk{
      position: absolute;
      z-index: 0;
    width: 270px;
    height: 270px;
    transform: translate(-60px,-30px);
    background-color: grey;    
    border-radius: 15px;
    /* border: 3px solid grey;  */
  }

  .bigStep .backkkk{
    position: absolute;
    bottom: 0;
    z-index: 0;
  width: 270px;
  height: 270px;
  transform: translate(-60px,30px);
  background-color: rgb(170,5,5);
  border-radius: 15px;
  /* border: 3px solid rgb(170,5,5); */
}

/* .bigStep .backkk{
    position: absolute;
    z-index: 0;
  width: 270px;
  height: 270px;
  transform: translate(-45px,-30px);
  border: 3px solid white;
}

.bigStep .backkkk{
  position: absolute;
  bottom: 0;
  z-index: 0;
width: 270px;
height: 270px;
transform: translate(-45px,30px);
border: 3px solid white;
}

.bigStep .backkk2{
  position: absolute;
  z-index: 0;
width: 340px;
height: 290px;
transform: translate(-40px,-15px);
border: 1px solid white;
}

.bigStep .backkkk2{
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 340px;
  height: 290px;
  transform: translate(-40px,15px);
  border: 1px solid white;
} */

  .stepDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 175px;
      padding: 0 10px 5px 10px;
      font-size: 17px;
      /* font-weight: 300; */
      /* background-color: rgb(170, 5, 5); */
      word-wrap: break-word;
      overflow-y: scroll;
      color: rgb(170,5,5);
    
  }

  .step .St{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: rgb(170, 5, 5); */
    font-size: 70px;
    font-weight: 400;
    /* opacity: 0.5; */
    margin:0;
    padding: 0;
    height: 70px;
    margin-bottom: 10px;
  }