.topReviews {
    background: white;
    height: 20vmin;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.ratings {
    /* background-color: violet; */
    font-size: 2vmin;
    margin-left: 3vmin;
    margin-top: 1.5vmin;
}